a{
	text-decoration:none;
}
html, body{
	background: transparent url('/img/layouts/app-body/background0.png');
	height: 100%;
}
#app-container{
	height: 100%;
}

/*======== STANDARD DIVIDER ===========*/
hr.standard-divider{
	height: 0.5px;
	margin: 1em 7px;
}

/*======== COMPANY LOGO ===========*/
	.mdl-card__company-logo{
		width: 40px;
		height: 40px;
	}

/*======== LOGIN BLOCK ==============*/
	.login{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	.login__login-card.mdl-card {
		width: 460px;
	}
	.login__login-card > .mdl-card__title {
		color: #006df0;
		height: 176px;
		background: url('/img/components/login-card/background5.jpg') center / cover ;
	}
	.login__login-card  .mdl-card__title-text{
		line-height: 40px;
	}
	.login__login-card .mdl-card__company-logo{
		margin-right: 10px;
	}
	.login__login-card > .mdl-card__menu {
	 	color: #fff;
	}

	.login__login-card > .mdl-card__actions{
		text-align: center;
	}
	.login__login-card .forgot-password__disclamer{
		cursor: pointer;
	}
	.login__login-card .forgot-password__disclamer:hover{
	  	color: #005ce0;
		cursor: pointer;
	}

/*======== NOT FOUND BLOCK ==============*/
	.not-found{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	.not-found__not-found-card.mdl-card {
		width: 460px;
	}
	.not-found__not-found-card > .mdl-card__title {
		color: #ffda44;
		height: 176px;
		background: url('/img/layouts/not-found/background0.jpg') center / cover ;
	}
	.not-found__not-found-card  .mdl-card__title-text{
		line-height: 40px;
	}
	.not-found__not-found-card .mdl-card__company-logo{
		margin-right: 10px;
	}
	.not-found__not-found-card > .mdl-card__menu {
	 	color: #fff;
	}

	.not-found__not-found-card > .mdl-card__actions{
		text-align: center;
	}

/*======== NOT FOUND BLOCK ==============*/
	.all-lists .mdl-layout__header{
		background-color: #fff;
		color: #000;
	}
	.all-lists .mdl-layout__header-row {
		padding-left: 16px;
	}
	.all-lists .mdl-layout-title {
	    	padding: 0 0 0 20px;
	}
	.mdl-layout__company-logo {
		width: 30px;
		height: 30px;
		margin-right: 10px;
	}

/*======== LOGGED IN USER - BLOCK ========*/

	.logged-in-user__avatar{
		width: 100%;
		height: 100%;
		background: url('/img/components/logged-user-avatar/avatar0.png') top / cover;
	}
	.logged-in-user__account-details{
		text-align: center;
		min-width: 250px;
	}
	.logged-in-user__great-avatar{
		max-height: 100px;
		margin: 10px auto;
		display: block;
	}

	.logged-in-user__user-name{
		display: block;
		color: rgba(0,0,0,0.87);
	}

	.logged-in-user__user-email{
		display: block;
		color: rgba(0,0,0,0.54);
	}

	.logged-in-user__static{
		height: 96px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		background: url("/img/components/side-menu/background0.jpg") center / cover;
	}

	.logged-in-user__full-avatar{
		flex:1;
	}
		.logged-in-user__full-avatar img{
			padding:10px;
			width: calc(100% - 20px);
		}
	.logged-in-user__user-data{
		flex:2;
		text-align: center;
	}
		.logged-in-user__user-data h6{
			color:#111;
			text-shadow: 1px 1px 1px #bbb;
		}

/*======== SIDE MENU ========*/
	.side-menu .mdl-navigation__link{
		line-height: 24px;
		text-align: left;

	}
	.side-menu .mdl-navigation__link i.material-icons{
		margin-right:30px;
	}

/*======== LIST CARD ========*/
	.list-card .demo-card-wide.mdl-card {
		width: 100%;
	}
	.list-card .demo-card-wide > .mdl-card__title {
		color: #fff;
		height: 60px;
		background: #ffda44;
	}
	.list-card .demo-card-wide > .mdl-card__menu {
		color: #fff;
	}
	.list-card .demo-list-action {
		width: 100%;
	}
	.list-card .mdl-list__item-secondary-action{
		cursor: pointer;
	}
	.list-card .mdl-list__item-done{
		color: #888;
	}
	.list-card .mdl-list__item-primary-content .mdl-list__item-done{
		text-decoration: line-through;
	}